.section__features {
  @extend %section;

  @media screen and (max-width: 1199px) {
    padding: $section-mobile-padding;
  }
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
}

.container__features {
  @extend %container;
}

.visually-hidden {
  @include visually-hidden;
}

.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.features__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.icon-case {
  background-color: var(--background-team-section);

  margin-bottom: 30px;

  height: 120px;

  @include centered-flex;
  justify-content: center;
}

.features__title {
  @include features-h3-text;
  text-align: center;
}

.features__text {
  @include features-p-text;
}
