.page-header {
  position: relative;

  border-bottom: 1px solid var(--header-color-bottom);
}

.page-header__container {
  @extend %container;

  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
}

.nav {
  @include centered-flex;
  justify-content: space-between;
}

.header__logo {
  @include logo-general-styles;

  @media screen and (max-width: 768px) {
    @include logo-mobile-styles;

    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.header__logo--blue {
  color: var(--accent-text);
}

.header__logo--black {
  color: var(--main-text-color);
}

.menu__button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus .icon__menu {
    fill: var(--accent-text);
  }

  & .icon__cross {
    display: none;
  }
}

.menu__button.is-open {
  & .icon__cross {
    display: block;
  }

  & .icon__menu {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
      text-align: center;
      background-color: #fff;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.navigation__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 60px;
    }
  }
}
.navigation__link {
  color: var(--main-text-color);
  @media screen and (max-width: 767px) {
    @include mobile-text-header-style;

    position: relative;

    &.current {
      color: var(--accent-text);

      &::after {
        content: '';
        position: absolute;

        bottom: 0;
        left: 0;

        width: 100%;
        height: 4px;

        background-color: var(--accent-text);
        border-radius: 2px;
      }
    }
  }
}
.contact__link {
  @include mobile-text-header-style;
  @include centered-flex;
  justify-content: center;

  color: var(--secondary-text-color);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
