.page-header {
  @media screen and (max-width: 767px) {
    position: relative;
  }

  border-bottom: 1px solid var(--header-color-bottom);
}

.page-header__container {
  @include container;
}

.nav {
  @include centered-flex;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header__logo {
  @include logo-general-styles;

  @media screen and (max-width: 1199px) {
    @include logo-mobile-styles;
  }
  @media screen and (min-width: 1200px) {
    @include logo-desktop-styles;
  }
}

.logo {
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__logo--blue {
  color: var(--accent-text);
}

.header__logo--black {
  color: var(--main-text-color);
}

// Мобильное меню
.menu__button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus .icon__menu {
    fill: var(--accent-text);
  }

  & .icon__cross {
    display: none;
  }
}

.menu__button.is-open {
  & .icon__cross {
    display: block;
  }

  & .icon__menu {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;

    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;
    z-index: 999;

    &.is-open {
      display: block;
      text-align: center;
      background-color: #fff;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}

.navigation__list {
  @media screen and (min-width: 768px) {
    @include centered-flex;
  }
}

.navigation__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    &:last-child {
      margin-bottom: 60px;
    }
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.navigation__link {
  color: var(--main-text-color);

  @media screen and (max-width: 767px) {
    @include mobile-text-header-style;
  }

  @media screen and (min-width: 768px) {
    @include desktop-text-header-style;
    padding: $header-desktop-padding;
  }
  @media screen and (min-width: 1200px) {
    &:hover,
    &:focus {
      color: var(--accent-text);
    }

    transition: color var(--timing-fn);
  }
}

// Подсветка актуально открытой страницы
.current {
  color: var(--accent-text);
  position: relative;

  &::after {
    content: '';
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: var(--accent-text);
    border-radius: 2px;
  }
}

.contact {
  @media screen and (min-width: 1200px) {
    @include centered-flex($align: baseline);
    justify-content: center;
  }
}

.contact__link {
  @include centered-flex;

  color: var(--secondary-text-color);

  @media screen and (max-width: 767px) {
    @include mobile-text-header-style;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 768px) {
    @include desktop-text-header-style;
    @media screen and (max-width: 1199px) {
      justify-content: flex-start;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    padding: $header-desktop-padding;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover,
    &:focus {
      color: var(--accent-text);
    }

    transition: color var(--timing-fn);
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
