.hero {
  @include centered-flex;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    min-height: 400px;

    background-image: linear-gradient($linear-gradient),
      url(../../image/Hero-optimized/hero-480.jpg);
    background-size: cover;
    background-position: center;
    background-color: var(--background-hero-section);
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        background-image: url(../../image/Hero-optimized/hero-960.jpg);
      }
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      .hero {
        background-image: url(../../image/Hero-optimized/hero-1440.jpg);
      }
    }
  }
}

.hero__container {
  @extend %container;
  display: block;
  text-align: center;
}

.hero__title {
  @include common-hero-title;
  @include mobile-hero-title;
}

.button {
  @extend %button;
}
