.hero {
  @include centered-flex;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    min-height: 400px;

    background-image: linear-gradient($linear-gradient),
      url(../image/Hero-optimized/mobile/hero-480.jpg);
    background-size: cover;
    background-position: center;
    background-color: var(--background-hero-section);
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient($linear-gradient),
        url(../image/Hero-optimized/mobile/hero-960@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient($linear-gradient),
        url(../image/Hero-optimized/mobile/hero-1440@3x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    min-height: 400px;

    background-image: linear-gradient($linear-gradient),
      url(../image/Hero-optimized/tablet/hero-768-400.jpg);
    background-size: cover;
    background-position: center;
    background-color: var(--background-hero-section);
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient($linear-gradient),
        url(../image/Hero-optimized/tablet/hero@2x.jpg);
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient($linear-gradient),
        url(../image/Hero-optimized/tablet/hero@3x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    min-height: 600px;

    background-image: linear-gradient($linear-gradient),
      url(../image/Hero-optimized/desktop/hero-1600-600.jpg);
    background-size: cover;
    background-position: center;
    background-color: var(--background-hero-section);
    background-repeat: no-repeat;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient($linear-gradient),
        url(../image/Hero-optimized/desktop/hero@2x.jpg);
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: linear-gradient($linear-gradient),
        url(../image/Hero-optimized/desktop/hero@3x.jpg);
    }
  }
}

.hero__container {
  @include container;
  display: block;
  text-align: center;
}

.hero__title {
  @include common-hero-title;

  @media screen and (max-width: 1199px) {
    @include mobile-hero-title;
  }
  @media screen and (min-width: 1200px) {
    @include desktop-hero-title;
  }
}

.button {
  @extend %button;
  padding: $order-button-padding;
}
