.section__projects {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @extend %section;

  @media screen and (min-width: 1200px) {
    padding: $section-desktop-padding;
  }
}

.container {
  @include container;
}

.section__title {
  @include desktop-section-title;
}

.projects__list {
  @include centered-flex;
}

.projects__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.projects__text {
  @include projects-text;
}
