.section__team {
  @extend %section;
  background-color: var(--background-team-section);

  @media screen and (max-width: 1199px) {
    padding: $section-mobile-padding;
  }
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
}

.container {
  @extend %container;
  text-align: center;
}

.section__title {
  @include mobile-section-title;
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;

  background-color: var(--white);

  padding-bottom: 24px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 1199px) {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.team__photo {
  margin-bottom: 30px;
  max-width: 100%;
  height: auto;
}

.team__name {
  @include team-text;
  font-weight: $team-name-font-weight;
  margin-bottom: 10px;
  color: var(--main-text-color);
}

.team__speciality {
  @include team-text;
  font-weight: $team-speciality-font-weight;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.team__social__list {
  @include team-social-list;
}

.team__social__icon {
  fill: var(--link-color);

  .team__social__link:hover &,
  .team__social__link:focus & {
    fill: var(--accent-text);
  }
}
