@mixin centered-flex($type: flex, $align: center) {
  display: $type;
  align-items: $align;
}

//Стили контейннера

@mixin container {
  width: 100%;
  padding-left: $container-left-padding;
  padding-right: $container-right-padding;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

// Кнопка модалки

@mixin close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  @include centered-flex;
  justify-content: center;

  width: 30px;
  height: 30px;

  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

// Скрывает текст
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Лого
@mixin logo-general-styles {
  display: inline-block;
  font-family: $secondary-font, sans-serif;
  font-weight: $logo-font-weight;
  text-decoration: none;

  cursor: pointer;
}

@mixin logo-mobile-styles {
  font-size: $logo-mobile-font-size;
  line-height: $logo-mobile-line-height;
}

@mixin logo-desktop-styles {
  font-size: $logo-desktop-font-size;
  line-height: $logo-desktop-line-height;
}

// Стили текста для Header mobile

@mixin mobile-text-header-style {
  font-weight: $header-mobile-font-weight;
  font-size: $header-mobile-font-size;
  line-height: $header-mobile-line-height;
  letter-spacing: $header-mobile-letter-spacing;
}
// Стили текста для Header tablet, desktop
@mixin desktop-text-header-style {
  font-weight: $header-desktop-font-weight;
  font-size: $header-desktop-font-size;
  line-height: $header-desktop-line-height;
  letter-spacing: $header-desktop-letter-spacing;
}

//Блок Герой

// Текст Героя

@mixin common-hero-title {
  color: $hero-color;
  font-weight: $hero-font-weight;
  letter-spacing: $hero-letter-spacing;
  text-transform: $hero-text-transform;
}

// Стили для mobile and tablet
@mixin mobile-hero-title {
  font-size: $mobile-hero-font-size;
  line-height: $mobile-hero-line-height;
  max-width: $mobile-hero-width;
  margin: 0 auto 30px;
}

// Стили для desktop
@mixin desktop-hero-title {
  font-size: $desktop-hero-font-size;
  line-height: $desktop-hero-line-height;
  max-width: $desctop-hero-width;
  margin: $desktop-hero-margin;
}

// Название секций

@mixin mobile-section-title {
  margin-bottom: 30px;

  color: var(--main-text-color);

  font-weight: $section-mobile-font-weight;
  font-size: $section-mobile-font-size;
  line-height: $section-mobile-line-height;
}

@mixin desktop-section-title {
  margin-bottom: 50px;

  color: var(--main-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

// Блок Особености
@mixin features-h3-text {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--main-text-color);
  font-weight: $features-h-font-weight;
  font-size: $features-h-font-size;
  line-height: $features-h-line-height;
  text-transform: $features-h-text-transform;
}

@mixin features-p-text {
  color: var(--secondary-text-color);

  font-weight: $features-p-font-weight;
  font-size: $features-p-font-size;
  line-height: $features-p-line-height;
}

//Чем мы занимаемся

@mixin accent-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
}

@mixin projects-text {
  position: absolute;
  left: 0;
  bottom: 0;

  @include centered-flex;
  justify-content: center;

  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;

  @include accent-text;
}

// Команда

@mixin team-text {
  font-size: $team-font-size;
  line-height: $team-line-height;
}

@mixin team-social-list {
  @include centered-flex;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;

  width: 206px;
}

// Footer

@mixin footer-address-text {
  font-weight: $footer-font-weight;
  font-size: $footer-font-size;
  line-height: $footer-line-height;
}

@mixin footer-social-link {
  @include centered-flex;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: var(--background-footer-link);

  transition: background-color var(--timing-fn);

  &:hover,
  &:focus {
    background-color: var(--accent-text);

    transition: background-color var(--timing-fn);
  }
}

// Модальное Окно

@mixin modal-text {
  font-weight: 700;
  font-size: 20px;
  color: var(--main-text-color);
}

@mixin form-name {
  display: block;
  text-align: start;

  margin-bottom: 10px;

  font-weight: $label-font-weight;
  font-size: $label-font-size;
  line-height: $label-line-height;
  letter-spacing: $label-letter-spacing;
  color: var(--secondary-text-color);
}

@mixin form-common-policy-text {
  @include centered-flex;
  justify-content: center;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  cursor: pointer;
  letter-spacing: 0.03em;
}

@mixin form-mobile-policy-text {
  font-weight: $mobile-policy-font-weight;
  font-size: $mobile-policy-font-size;
  line-height: $mobile-policy-line-height;
}
@mixin form-desktop-policy-text {
  font-size: $desktop-policy-font-size;
  line-height: $desktop-policy-line-height;
}

// Портфолио

@mixin radio-button {
  display: inline-block;
  color: var(--main-text-color);
  background-color: var(--background-team-section);
  border-radius: 4px;
  border: 0 solid transparent;
  padding: 6px 22px;

  min-width: 73px;

  font-family: $main-font;
  font-weight: $radio-button-font-weight;
  font-size: $radio-button-font-size;
  line-height: $radio-button-line-height;
  letter-spacing: $radio-button-letter-spacing;

  transition: background-color, color var(--timing-fn);

  cursor: pointer;
}

// Галерея проектов
@mixin hover-card-text {
  font-weight: $hover-text-font-weight;
  font-size: $hover-text-font-size;
  line-height: $hover-text-line-height;
  color: var(--white);
}

@mixin portfolio-project-name {
  color: var(--main-text-color);

  font-weight: $project-name-font-weight;
  font-size: $project-name-font-size;
  line-height: $project-name-line-height;
  letter-spacing: $project-name-letter-spacing;
}

@mixin portfolio-project-type {
  color: var(--secondary-text-color);

  font-weight: $project-type-font-weight;
  font-size: $project-type-font-size;
  line-height: $project-type-line-height;
}
